html {
    background-image: url("flores.jpg");
}
body {
    height: 100vh;

}

#column {
    text-align: center;
    width: 50vh;
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

#título {
    font-family: 'Lucida Sans' ;
    text-align: center;
    color: grey;         
}

p {
    color: gray;
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: 80%;
}

h6 {
    font-family: 'Lucida Sans' ;
    text-align: center;
    color: grey;   
}

#source-text {
    resize: none;
}

#trad-text {
   width: 223px; 
   margin: 0px; 
   height: 112px;
   border: 1px #A9A9A9 solid;
   background-color: white;
   margin-bottom: 4px;
   text-align: left;
}

h1 {
    font-style: oblique;
}

#instr {
    text-align: left;
}

#btnC {
    border-radius: 5px;
}

#btnT {
    border-radius: 5px;
}

#sendShifts {
    border-radius: 5px;
}